html, body {
    background-color:whitesmoke;
    margin: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container > div > img {
width: 100%;
height: 100%;
object-fit: cover;

}

.container >  .normal {
    flex: 1 1 250px;
}

.container > .big {
    flex: 1 1 250px;

}
.container > div > img {
   border-radius: 10px;
   transition: 0.5s ease-in-out;

}

 img:hover {
    box-shadow: 0px 1px 3px 0px black;
    transform: scale(1.1);

}
